@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .bg-gradient-mainTheme {
      background-image: linear-gradient(45deg, #596680, #111827);
    }
    .text-gradient-mainTheme {
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      background-image: linear-gradient(45deg, #596680, #111827);
    }
  }

  